.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 12px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 1.5rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    width: 20px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 3.5rem;
    user-select: none;
    -webkit-user-select: none;
}
